@import "../../../styles/variable.scss";
@import "../../../styles/typography.scss";

.quote {
	background: $color-light;

	&__text {
		@extend .heading;
		@extend .heading--title;
		font-style: italic;
		font-weight: normal;
		text-align: center;
	}
}