@import "../../../styles/variable.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/utility.scss";

.contact {
	background: $color-light;
	grid-gap: 0;

	& p {
		margin-bottom: 0;
	}
}