@import "../../../styles/variable.scss";
@import "../../../styles/typography.scss";

.hero {
	padding-top: 5rem;
	padding-bottom: 15rem;

	&__title {
		@extend .heading;
		@extend .heading--display;
		margin-bottom: 1rem;
	}

	&__subtitle {
		@extend .heading;
		@extend .heading--header;
	}

	&__description {
		margin-bottom: 0;
	}
}