@import '../styles/variable.scss';

.grid {
	display: grid;
	grid-gap: 32px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	&--4 {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	&--small-big {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}