@import '../styles/variable.scss';

.container {
	width: 85%;
	margin: 0 auto;
	max-width: $container-desktop;
	background: lightgoldenrodyellow;
}

.grid {
	display: grid;
	grid-gap: 32px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}