@import '../styles/variable.scss';

.heading {
    color: $color-black;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 2em;

    &--display {
        font-size: 3.6rem;
    }

    &--header {
        font-size: 2rem;
    }

    &--title {
        font-size: 1.2rem;
    }

    &--subtitle {
        font-size: 1rem;
    }
}

.hashtag {
    background: $color-light;
    display: inline;
    text-align: center;

    &--big {
        width: 100%;
        padding: 16px 32px;
        text-transform: uppercase;
    }

    &::before {
        content: "#";
    }
}