@import '../styles/variable.scss';

.heading {
    color: $color-dark;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 2em;

    &--display {
        font-size: 2.8rem;

        @media(min-width: $breakpoint-mobile) {
            font-size: 3.2rem;
        }
    }

    &--header {
        font-size: 2rem;
    }

    &--title {
        font-size: 1.2rem;
        margin: 0;
    }

    &--subtitle {
        font-size: 1rem;
        margin: 0;
    }
}

.link {
    color: $color-black;

    &:hover {
        opacity: 0.6;
    }
}