 // Colors
 $color-white: #fff;
 $color-light: #f6f6f6;
 $color-medium: #666;
 $color-dark: #222;
 $color-black: #000;

 // Break points
 $breakpoint-mobile: 375px;
 $breakpoint-tablet: 768px;
 $breakpoint-desktop: 1024px;

 // Containers
 $container-desktop: 1140px;