// Colors
$color-white: #fff;
$color-light: #f2f2f2;
$color-medium: #888;
$color-dark: #444;
$color-black: #000;

// Responsive Break points (min-width)
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

// Containers
$container-desktop: 1140px;