// Colors
$color-white: #fff;
$color-light: #f2f2f2;
$color-medium: #888;
$color-dark: #444;
$color-black: #000;

// Responsive Break points (min-width)
$breakpoint-mini: 300px;
$breakpoint-mobile: 450px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

// Containers
$container-mobile: 400px;
$container-tablet: 720px;
$container-laptop: 960px;
$container-desktop: 1140px;