@import "../../../styles/variable.scss";

.nav {
	width: 100%;

	&__bar {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		background: $color-white;
	}

	&__menu {
		flex-basis: 100%;
		flex-direction: column;
		justify-content: center;
		display: none;
		padding-bottom: 64px;
	}

	&__item {
		text-align: center;
		padding: 16px 0;
	}

	&__link {
		position: relative;
		text-transform: uppercase;
		font-size: 14px;
		color: $color-medium;

		&:hover {
			color: $color-dark;
		}

	}

	&__link--active {
		color: $color-dark;
		font-weight: bold;
	}

	&__icon {
		height: 20px;
	}

	@media(min-width: $breakpoint-desktop) {
		padding: 64px 0;

		&__bar {
			justify-content: flex-start;
		}

		&__menu {
			width: 50%;
			display: flex;
			flex-direction: row;
			flex-basis: initial;
			justify-content: space-between;
			padding-bottom: 0;
		}

		&__hamburger,
		&__close {
			display: none;
		}
	}
}