@import "../../../styles/variable.scss";

.nav {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 32px 0;

	&__bar {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	&__menu {
		flex-basis: 100%;
		flex-direction: column;
		justify-content: center;
		display: none;

		&--active {
			display: flex;
			background: $color-dark;
			padding: 64px 0;
		}
	}

	&__item {
		text-align: center;
		padding: 16px 0;
	}

	&__link {
		position: relative;
		text-transform: uppercase;
		font-size: 14px;
		color: $color-medium;
		letter-spacing: 0.2em;
	}

	&__active-link {
		color: $color-white;
		font-weight: bold;
	}

	&__icon {
		height: 20px;
	}

	@media(min-width: $breakpoint-desktop) {
		padding: 90px 0;

		&__bar {
			justify-content: flex-start;
		}

		&__menu {
			width: 50%;
			display: flex;
			flex-direction: row;
			flex-basis: initial;
			justify-content: space-between;
		}

		&__hamburger,
		&__close {
			display: none;
		}
	}
}