.footer {
	background: var(--color-dark);
	padding-top: 3rem;
	padding-bottom: 5rem;

	&__link {
		text-transform: uppercase;
		font-size: 14px;
		color: var(--color-light);

		&:hover {
			color: var(--color-medium);
		}
	}

	&__contact {
		font-size: 14px;
		color: var(--color-light);
	}
}