@import "../../../styles/variable.scss";

.footer {
	background: $color-dark;
	padding-top: 3rem;
	padding-bottom: 5rem;

	&__link {
		text-transform: uppercase;
		font-size: 14px;
		color: $color-light;

		&:hover {
			color: $color-medium;
		}
	}

	&__contact {
		font-size: 14px;
		color: $color-light;
	}
}