@import "./styles/variable.scss";
@import "./styles/grid.scss";
@import "./styles/typography.scss";
@import "./styles/utility.scss";

// Reset CSS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* montserrat-regular - latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: font-primary;
    font-style: normal;
    font-weight: 400;
    src: url('./assets//font/montserrat-v25-latin-ext-regular.eot');
    /* IE9 Compat Modes */
    src: url('./assets//font/montserrat-v25-latin-ext-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets//font/montserrat-v25-latin-ext-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./assets//font/montserrat-v25-latin-ext-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./assets//font/montserrat-v25-latin-ext-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./assets//font/montserrat-v25-latin-ext-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

// Setup Basic Element
html {
    font-family: font-primary, sans-serif;
    line-height: 1.8;
    font-size: 16px;
    scroll-behavior: smooth;

    @media (min-width: $breakpoint-desktop) {
        font-size: 17px;
    }
}

body {
    color: $color-medium;
}

header,
main,
footer,
section,
article,
nav,
img {
    display: block;
}

img {
    border-style: none;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style-position: inside;
    list-style: none;
}

a {
    text-decoration: none;
}