@import "../../../styles/variable.scss";

.grid {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	grid-template-columns: 1fr;

	&--2 {
		@media(min-width: $breakpoint-tablet) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&--3 {
		@media(min-width: $breakpoint-tablet) {
			grid-template-columns: 1fr 1fr;
		}

		@media(min-width: $breakpoint-desktop) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&--4 {
		grid-template-columns: 1fr;

		@media(min-width: $breakpoint-mobile) {
			grid-template-columns: 1fr 1fr;
		}

		@media(min-width: $breakpoint-tablet) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media(min-width: $breakpoint-desktop) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	&--1vs3 {
		@media(min-width: $breakpoint-tablet) {
			grid-template-columns: 1fr 2fr;
		}

		@media(min-width: $breakpoint-desktop) {
			grid-template-columns: 1fr 3fr;
		}
	}
}